* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

body {
  padding-bottom: 500px;
}

.navbar {
  height: 60px;
  background-color: #0e1421;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 50px;
  width: 100px;
  margin-left:15px;
  border: 1.5px solid transparent;
}

.nav-logo:hover {
  border: 1.5px solid white;
  cursor: pointer;
}

.logo {
  background-image: url(images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
  padding: 5px 10px;
}

.border:hover {
  border: 1.5px solid white;
  cursor: pointer;
}

/* box 2 */

.nav-address {
  margin-right: 15px;
  margin-left: 10px;
}

.add-first {
  color: #cccccc;
  font-size: 0.85em;
  margin-left: 15px;
}

.add-second {
  font-size: 1em;
  margin-left: 3px;
  font-weight: bold;
}

.add-icon {
  display: flex;
}

/* box 3 */
.nav-search {
  display: flex;
  flex-grow: 1;
  width: 620px;
  height: 40px;
  border-radius: 4px;
  justify-content: space-evenly;
  border: 2px solid transparent;
}

.nav-search:hover {
  border: 2px solid orange;
}

.search-select {
  background-color: #dbdada;
  padding-left: 5px;
  width: 50px;
  border-radius: 4px 0px 0px 4px;
  color: rgb(72, 74, 74);
  border: none;
}

.select-option {
  background-color: white;
  color: #000000;
  font-size: 1.05em;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-radius: 0px 4px 4px 0px;
  color: #2e374c;
}

.search-icon:hover {
  background-color: #e9a54c;
  cursor: pointer;
}

.search-icon:active {
  background-color: #e98808;
}

/* box 4 */

span {
  font-size: 0.85em;
}

.nav-second {
  font-size: 1em;
  font-weight: bold;
}

/* box 5 */

.cart {
  display: flex;
  margin-right: 20px;
}

.cart-first{
  font-size:27px;
  display: flex;
  align-items: center;
}

.cart-second {
  font-weight: bold;
  font-size: 1em;
  padding-top: 0.9em;
}

/* panel */

.panel {
  height: 39px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
}

.panel-all {
  margin-right: 15px;
  margin-left: 20px;
  }

.panel-ops p {
  display: inline;
  margin-left: 0px;
}

.panel-ops {
  width: 90%;
  font-size: 14px;
  font-weight: 500;
}

.panel-border {
  border: 1.5px solid transparent;
   padding: 9px 10px; 
}

.panel-border:hover {
  border: 1.5px solid white;
  cursor: pointer;
}

/* hero-section */

.hero-section {
  height: 380px;
  background-size: cover;
  background-image: url(images/Hero_f1.jpg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  margin-bottom: 25px;
}

.hero-msg a {
  color: #007185;
  text-decoration: none;
}

.hero-msg a:hover {
  color: #e98808;
  text-decoration: underline;
}

/* shop-section */

.shop-section {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0px 15px 20px 15px;
  justify-content: space-evenly;
  background-color: #f3eaf0;
}

.box {
  /* border: 2px solid black; */
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;  
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content a {
  color: #007185;
  text-decoration: none;
}

.box-content a:hover {
  color: #e98808;
  text-decoration: underline;
}

/* footer */

.foot-p1 {
  background-color: #37475a;
  color: white;
  padding: 15px 0px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
}

.foot-p1:hover {
  opacity: 0.9;
  cursor: pointer;
}

.foot-p2 {
  background-color: #232f3e;
  color: white;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}

ul a {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  color: #dddddd;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.foot-p3 {
  display: flex;
  justify-content: center;
  background-color: #232f3e;
  color: white;
  border-top: 0.1px solid rgb(89, 89, 89);
  padding: 10px 10px;
}

.logo {
  background-image: url(images/amazon_logo.png);
  height: 50px;
  width: 100px;
}

/* Foot-p4 */

.foot-p4 {
  height: 80px;
  font-size: 12px;
  background-color: #0e1421;
  color: white;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: ; */
}

.pages a {
  text-decoration: none;
  color: white;
}

.pages a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pages {
  padding-top : 25px;
  /* display: flex;
  justify-content: space-around; */ 
  /* display: grid;
  column-gap: none;
  grid-template-columns: repeat(3,1fr); */ 

}

.copyright {
  padding-top: 5px;
}